@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

:root {
  --dark-purple: #160a26;
  --mid-purple: #280440;
  --light-purple: #d3c4f2;
  --mid-green: #3ca638;
  --light-green: #48d932;
  --item-drop-shadow: 0px 8px 2px rgba(0, 0, 0, 0.5);
  --green-glow: 4px 8px 32px rgba(72, 217, 50, 0.8);
  --purple-drop-shadow: 4px 8px 32px rgba(211, 196, 242, 0.4);
  --item-border-radius: 1vmin;
  --title: "Comfortaa", cursive;
  --paragraph: "Tilt Neon", cursive;
}

body {
  padding: 0%;
  margin: 0%;
  background: var(--dark-purple);
}

nav {
  display: flow-root;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn * {
  pointer-events: none;
}

nav a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.options {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: var(--dark-purple);
  width: 100%;
  filter: drop-shadow(var(--item-drop-shadow));
}

.switch {
  margin: 1vw;
}

label {
  color: white;
  font-family: var(--paragraph);
}
